@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    padding: 20px;
    text-align: center;
}

.cabecalho span{
    font-size: 0.6em;
    color: #3cbd87;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #f0f0f0;
}

.container{
    max-width: 1224px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.card{
    flex: 1 1 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #000;
}

.container-image{
    width: 100%;
    height: 250px;
}

.container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    padding: 10px;
}

.container-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    padding: 15px;
}

.container-price div img{
    padding: 10px;
    border: 1px solid #c9c4c4;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

